<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {title: 'Home'}) %>
  <head>
    <%- include('partials/header') %> 
  </head>
  <body>
    <%- include('partials/nav', {navtitle: 'Felipe'}) %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>